body {
	background-color: black;
	color: white;
	font-family: "Verdana"
}

#gVDisplay {
	color: red;
	font-family: "Verdana";
}

#PrestigeLayer0 {
	color: orange;
	font-family: "Verdana";
}

#PrestigeLayer1 {
	color: navy;
	font-family: "Verdana";
}

#PrestigeLayer2 {
	color: lime;
	font-family: "Verdana";
}

#PrestigeLayer3 {
	color: blue;
	font-family: "Verdana";
}

#PrestigeLayer4 {
	color: grey;
	font-family: "Verdana";
}

#PrestigeLayer5 {
	color: yellow;
	font-family: "Verdana";
}

#PrestigeLayer6 {
	color: yellow;
	font-family: "Verdana";
}

#PrestigeLayer7 {
	color: yellow;
	font-family: "Verdana";
}

#PrestigeLayer8 {
	color: yellow;
	font-family: "Verdana";
}

#PrestigeLayer9 {
	color: yellow;
	font-family: "Verdana";
}

#button1 {
	background-color: white;
	border: 2px solid gray;
	color: black;
	padding: 10px 20px;
	font-size: 24px;
	margin: 2px 0px;
	cursor: pointer
}

#button1b {
	background-color: black;
	border: 2px solid red;
	color: white;
	padding: 10px 20px;
	font-size: 24px;
	margin: 2px 0px;
	cursor: pointer
}

#button1c {
	background-color: black;
	border: 2px solid orange;
	color: white;
	padding: 10px 20px;
	font-size: 24px;
	margin: 2px 0px;
	cursor: pointer
}

#button1d {
	background-color: navy;
	border: 2px solid blue;
	color: white;
	padding: 10px 20px;
	font-size: 24px;
	margin: 2px 0px;
	cursor: pointer
}

#button1dA {
	background-color: navy;
	border: 2px solid blue;
	width: 16.66vw;
	height: 192px;
    box-sizing: border-box;
	color: white;
	padding: 50px 20px;
	font-size: 24px;
	text-align: justify;
	margin: 2px 0px;
	cursor: pointer
}

#button1dB {
	background-color: navy;
	border: 2px solid blue;
	width: 50vw;
	height: 192px;
    box-sizing: border-box;
	color: white;
	padding: 50px 20px;
	font-size: 24px;
	text-align: justify;
	margin: 2px 0px;
	cursor: pointer
}

#button1dA:active {
	background-color: lime;
	border: 2px solid blue;
	width: 16.66vw;
	height: 192px;
    box-sizing: border-box;
	color: white;
	padding: 50px 20px;
	font-size: 24px;
	text-align: justify;
	margin: 2px 0px;
	cursor: pointer
}

#button1dfILLER {
	background-color: black;
	border: 2px solid white;
	width: 16.66vw;
	height: 192px;
    box-sizing: border-box;
	color: white;
	padding: 50px 20px;
	font-size: 24px;
	text-align: justify;
	margin: 2px 0px;
}

.gorb {
	width: 8vw;
	height: 8vw;
	background-color: grey;
	font-size: 16px;
	color: white;
	border: 2px solid red;
	display: flex;
	align-items: center;
	position: relative;
	font-family: "Verdana";
}

#button2 {
	background-color: white;
	border: 1px solid gray;
	color: black;
	padding: 10px 10px;
	font-size: 16px;
	margin: 10px 0px;
	cursor: pointer
}

#button3 {
	background-color: black;
	border: 2px solid red;
	color: white;
	padding: 10px 10px;
	font-size: 16px;
	margin: 10px 0px;
	cursor: pointer
}

#button4 {
	background-color: black;
	border: 2px solid orange;
	color: white;
	padding: 10px 10px;
	font-size: 16px;
	margin: 10px 0px;
	cursor: pointer
}

#button5 {
	background-color: navy;
	border: 2px solid blue;
	color: white;
	padding: 10px 10px;
	font-size: 16px;
	margin: 10px 0px;
	cursor: pointer
}

#button6 {
	background-color: lime;
	border: 2px solid green;
	color: white;
	padding: 10px 10px;
	font-size: 16px;
	margin: 10px 0px;
	cursor: pointer
}

#button7 {
	background-color: blue;
	border: 2px solid cyan;
	color: white;
	padding: 10px 10px;
	font-size: 16px;
	margin: 10px 0px;
	cursor: pointer
}

#button8 {
	background-color: grey;
	border: 2px solid purple;
	color: white;
	padding: 10px 10px;
	font-size: 16px;
	margin: 10px 0px;
	cursor: pointer
}

#button9 {
	background-color: yellow;
	border: 2px solid magenta;
	color: black;
	padding: 10px 10px;
	font-size: 16px;
	margin: 10px 0px;
	cursor: pointer
}
